<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <div class="footer__row">
        <div class="footer__column">
          <p class="footer__text">
            &copy; 2024 Warehouse Monitoring Inc. Все права защищены.
          </p>
        </div>
        <div class="footer__column">
          <ul class="footer__links">
            <li class="footer__links-item">
              <a class="footer__links-link" href="/privacy-policy"
                >Политика конфиденциальности</a
              >
            </li>
            <li class="footer__links-item">
              <a class="footer__links-link" href="/terms-of-service"
                >Условия использования</a
              >
            </li>
            <li class="footer__links-item">
              <a class="footer__links-link" href="/contact">Свяжитесь с нами</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <ul class="footer__media">
            <li class="footer__media-item">
              <a
                class="footer__media-link"
                href="https://vk.com/warehouse-managment"
                ><img src="../../../assets/vk-logo.png" alt="VK"
              /></a>
            </li>
            <li class="footer__media-item">
              <a
                class="footer__media-link"
                href="https://t.me//warehouse-managment"
                ><img src="../../../assets/tg-logo.png" alt="Telegram"
              /></a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <ul class="footer__quick-links">
            <li class="footer__quick-links-item">
              <a class="footer__quick-links-link" href="/">Главная</a>
            </li>
            <li class="footer__quick-links-item">
              <a class="footer__quick-links-link" href="/about">О нас</a>
            </li>
            <li class="footer__quick-links-item">
              <a class="footer__quick-links-link" href="/services">Услуги</a>
            </li>
            <li class="footer__quick-links-item">
              <a class="footer__quick-links-link" href="/blog">Блог</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <form class="footer__email-form">
            <label class="footer__email-label" for="newsletter-email"
              >Подпишитесь на нашу рассылку:</label
            >
            <input
              class="footer__email-input"
              type="email"
              id="newsletter-email"
              name="email"
              placeholder="Введите ваш email"
            />
            <button class="footer__email-button" type="submit">
              Подписаться
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__row">
      <div class="footer__column">
        <p class="footer__contact">
          Свяжитесь с нами:
          <a
            class="footer__contact-link"
            href="mailto:info@warehousemonitoring.com"
            >info&#6;warehousemonitoring.com</a
          >
          | +123-456-7890
        </p>
      </div>
    </div>
  </div>
</footer>
