<nav class="nav">
  <div class="nav__container">
    <div class="nav__content">
      <img
        class="nav__logo"
        src="../../../assets/logo50x50.png"
        alt="Company Logo"
      />
      <span class="nav__title">Управление складом</span>
      <span class="nav__spacer"></span>
      <a
        class="nav__link"
        routerLink="/"
        routerLinkActive="nav__link--active"
        ariaCurrentWhenActive="page"
      >
        Главная
      </a>
      <a
        class="nav__link"
        routerLink="/login"
        routerLinkActive="nav__link--active"
      >
        Вход
      </a>
      <a
        class="nav__link"
        routerLink="/register"
        routerLinkActive="nav__link--active"
      >
        Регистрация
      </a>
      <a
        class="nav__link"
        routerLink="/profile"
        routerLinkActive="nav__link--active"
      >
        Личный кабинет
      </a>
    </div>
  </div>
</nav>
