<div class="home">
  <section class="home__block home__block--first">
    <div class="home__content">
      <h2 class="home__title">
        Добро пожаловать, это приложение для ведение складского учета.
      </h2>
      <p class="home__description">
        Наша система предлагает комплексное решение для эффективного управления
        вашим складом...
      </p>
      <a class="home__button" routerLink="/register">Начать работу</a>
    </div>
  </section>

  <section class="home__block">
    <div class="home__content">
      <h2 class="home__title">Feature 1</h2>
      <p class="home__description">
        Описание 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
    </div>
  </section>

  <section class="home__block">
    <div class="home__content">
      <h2 class="home__title">Feature 2</h2>
      <p class="home__description">
        Описание 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
    </div>
  </section>

  <section class="home__block">
    <div class="home__content">
      <h2 class="home__title">Feature 3</h2>
      <p class="home__description">
        Описание 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
    </div>
  </section>

  <section class="home__block">
    <div class="home__content">
      <h2 class="home__title">Feature 4</h2>
      <p class="home__description">
        Описание 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
    </div>
  </section>

  <section class="home__block">
    <div class="home__content">
      <h2 class="home__title">Feature 5</h2>
      <p class="home__description">
        Описание 5. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
    </div>
  </section>

  <section class="home__block">
    <div class="home__content">
      <h2 class="home__title">Feature 6</h2>
      <p class="home__description">
        Описание 6. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
      <a class="home__button" routerLink="/register">Регистрация</a>
    </div>
  </section>
</div>
